/**
 * Vars
 */

/* colors */
$colors: (
  white: #FFFFFF,
  black: #000000
);

/* frameworks */
$em-base: 18px;
$base-font-size: $em-base;
$base-line-height: 30px;


/* font-face */
$gotham: 'Gotham SSm A', 'Gotham SSm B', sans-serif;
$ballantines: 'Ballantines Serial',script;


/* paths */
$img: '../../img';